<div class="error">
  <% @url.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
</div>

<%= form_with(model: @url) do |f| %>
  <%= f.text_field :url %>
  <%= f.submit %>
<% end %>